<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN PAGE</title>
  </head>

  <body>
    <center>
      <h1>Login for no reason!</h1>
      <form action="/auth" method="POST">
	<b>Username</b>
	<br>
	<input type="text" name="username" value="harambe">
	<br>
	<br>
	<b>Password</b>
	<br>
	<input type="text" name="password" value="rip">
	<br>
	<br>
	<input type="submit" name="login" value="Login">
      </form>
      <br>
      <br>
      Need to Register?
      <br>
      <form action="/register" method="POST">
	<input type="submit" name="register" value="Register">
      </form>
  </body>
</html>
